{% extends "../templates/shouye/layout.html" %}
{% block search %}
<!----搜索栏目-->
<div class="input-group">
    <input type="text" class="form-control input_liu" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
    </span>
</div><!-- /input-group -->
{% end %}
{% block jumbotron %}
<!---相关通知和说明--->
<div class="row jumbotron">
    <h1>
        Hello, together!
    </h1>

    <p>
        大家好，欢迎加入together大家庭，我们是一个人工智能服务平台，在这里你可以找到你想要实现智能化的一切工具和知识，在这里，我们对接上下线，将上线的研究员和下线的数据采集员集合在一起，
    </p>
    <p> 世界已经迎来了第五次工业革命，我们作为第五次工业革命的引领者，将带动上下线对接，让神经网络和机械的结合更加容易，让每一个企业，每一个个人都能够通过我们的平台参与到第五工业革命的潮流中来，只要你有想法，在这里有你想要的一切，甚至是想法。
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p>
</div>
{% end %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 24rem; height: 24rem;display:inline;">
            <img class="card-img-top" src="{{ static_url('image/data_default.jpeg') }}" alt="Card image cap"
                style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.<a href="#" class="card-link">详细信息</a></p>

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem;height: 24rem; display:inline;">
            <img class="card-img-top" src="{{ static_url('image/1.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem;height: 24rem; display:inline;">
            <img class="card-img-top" src="{{ static_url('image/2.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem;height: 24rem; display:inline;">
            <img class="card-img-top" src="{{ static_url('image/3.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem; height: 24rem;display:inline;">
            <img class="card-img-top" src="{{ static_url('image/4.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem;height: 24rem; display:inline;">
            <img class="card-img-top" src="{{ static_url('image/2.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem; height: 24rem;display:inline;">
            <img class="card-img-top" src="{{ static_url('image/6.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 24rem;height: 24rem; display:inline;">
            <img class="card-img-top" src="{{ static_url('image/7.jpeg') }}" alt="Card image cap" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">详细信息</a>
            </div>
        </div>
    </div>
</div>
{% end %}