{% extends "../templates/shouye/layout.html" %}

{% block content %}

                <div class="col-md-4 column nerous">
                    <h2>
                        <a href="#">神经网络接口 </a>
                    </h2>
                    <p>
                        神经网络接口由某位企业或者个人创造，并且上传到我们的网站，通过我们的网站接口他们可以为某一行业提供服务，当然这要分为信息类的还是直接提供服务类的。致力于打造最棒的神经网络构建市场，对接上下线。
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>

{% end %}