<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dmomb网站首页</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css"> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{  static_url ('web/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href="{{  static_url ('web/css/style.css') }}">
    <link rel="stylesheet" href="{{  static_url ('web/mycss/style.css') }}">
    <link rel="stylesheet" href="{{  static_url ('web/mycss/touxiang.css') }}">
    <script src="{{ static_url('web/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('web/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ static_url('web/js/together.js') }}"></script>


    <!-- 这些是为了能够实现文件的输入的js和css插件 -->
    <!-- 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        crossorigin="anonymous"> -->
    <link href="{{ static_url('web/file_tool/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="{{ static_url('web/file_tool/themes/explorer-fas/theme.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ static_url('web/file_tool/js/plugins/piexif.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('web/file_tool/js/plugins/sortable.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('web/file_tool/js/fileinput.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('web/file_tool/js/locales/fr.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('web/file_tool/js/locales/zh.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('web/file_tool/themes/fas/theme.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('web/file_tool/themes/explorer-fas/theme.js') }}" type="text/javascript"></script>
    <!-- 文件完 -->


    <!--markdown  -->
    <!-- bootstrap 4.x styling is supported. You can also use the bootstrap css 3.3.x and set the `bsVersion` -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Font Awesome 5.x Icon library (check themes to change this) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <!-- Krajee Markdown Editor Main Library Default Style -->
    <link href="{{ static_url('web/markdown/css/markdown-editor.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!-- Highlight JS style provided with plugin for code styling -->
    <link href="{{ static_url('web/markdown/plugins/highlight/highlight.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <!-- jQuery JS Library -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <!-- Twitter Emojis Plugin (if you need twitter emojis) -->
    <!-- <script src="http://twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script> -->
    <!-- Include DOM purify plugin if you need to purify HTML output (needed only if markdown-it HTML input 
       is allowed). This must be loaded before markdown-editor.js. -->
    <script src="{{ static_url('web/markdown/plugins/purify/purify.min.js') }}" type="text/javascript">
    </script>
    <!-- Markdown IT Main Library -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Definition List Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-deflist.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Footnote Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-footnote.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Abbreviation Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-abbr.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Subscript Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-sub.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Superscript Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-sup.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Underline/Inserted Text Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-ins.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Mark Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-mark.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT SmartArrows Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-smartarrows.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Checkbox Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-checkbox.min.js')}}" type="text/javascript"></script>
    <!-- Markdown IT East Asian Characters Line Break Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-cjk-breaks.min.js') }}" type="text/javascript"></script>
    <!-- Markdown IT Emoji Plugin -->
    <script src="{{ static_url('web/markdown/plugins/markdown-it/markdown-it-emoji.min.js')}}" type="text/javascript"></script>
    <!-- Highlight JS Main Plugin Library for code styling -->
    <script src="{{ static_url('web/markdown/plugins/highlight/highlight.min.js') }}" type="text/javascript"></script>
    <!-- Bootstrap 4.x Complete Bundle Library (including Popper) -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
            type="text/javascript"></script> -->
    <!-- Krajee Markdown Editor Main Library -->
    <script src="{{ static_url('web/markdown/js/markdown-editor.js') }}" type="text/javascript"></script>
    <!-- Optionally include theme.js script or theme.css for a different theme if needed -->
    <!-- script src="/path/to/themes/fa5/theme.js" type="text/javascript"></script -->
    <!-- Optionally include localization script for your language if needed -->
    <!-- script src="/path/to/js/locales/en.js" type="text/javascript"></script>
        <!-- markdown完 -->
</head>

<body>

    <div id="wrapper">
        <div class="overlay">


        </div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        dmomb for us
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8003/"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>shuju
                <li>
                    <a href="http://127.0.0.1:8003/data/"><i class=" fa fa-fw fa-folder"></i> Data</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8003/models/"><i class="fa fa-fw fa-file-o"></i> Model </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8003/machines/"><i class="fa fa-fw fa-cog"></i> Machine tool </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8003/machines/"><i class="fa fa-fw fa-bank"></i> Busyness</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Like
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>

                <!-- <li>
                    <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
                </li> -->
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper1">
            <div style="float: left; width: 50px;">
                <div class="fadeInLeft">

                    <button type="button" class="hamburger is-closed animated " data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>

                </div>
                <div>

                </div>
            </div>
            <div class="container container_liu">
                <div class='row'>
                    <!----div标题栏-->
                    <div class="col-md-4">
                        <h3>
                            dmomb网站首页
                        </h3>
                    </div>
                    <!-- 搜索框的大小 -->
                    <div class="col-md-4">
                        {% block search %}{% end %}
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">
                        <div class="row" id="no_login">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- <li>
                                    <p class="navbar-text">登录注册点击这里</p>
                                </li> -->
                                <li class="dropdown">
                                    <button class="img_button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>登录 / 注册</b> <span class="caret"></span></button>
                                    <ul id="login-dp" class="dropdown-menu">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    快捷登录
                                                    <div class="social-buttons">
                                                        <a href="#" class="btn btn-fb"><i class="fa fa-wechat"></i>
                                                            微信</a>
                                                        <a href="#" class="btn btn-tw"><i class="fa fa-qq"></i> QQ</a>
                                                    </div>
                                                    or
                                                    <form class="form" method="post" role="form" accept-charset="UTF-8" id="form-data">
                                                        {% raw xsrf_form_html() %}
                                                        <div class="form-group">

                                                            <label class="sr-only" for="exampleInputEmail2">Email
                                                                address</label>
                                                            <input name="mail" type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                            <input name="password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                            <div class="help-block text-right"><a href="">忘记密码
                                                                    ?</a></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="btn-sub" type="button" class="btn btn-primary btn-block" value="登录"></input>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> 保持登录状态
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="bottom text-center">
                                                    没有账号? <a href="/user/add/"><b>注册</b></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <!-- 登录之后显示的模块 -->
                        <div id="haved_login" style="width:200px;display:none">
                            <label id="info_login"> </label>
                            <div>
                                <div class="div_img_login">
                                    <img id="img_login" src="../../static/image/1.jpeg" class="round_icon" alt="">
                                </div>
                                <div id="id01" class="img_modal">
                                    <div class="img_modal-content animate">
                                        <div class="modal-header">
                                            <!--<form class="img_modal-content animate" action="/action_page.php">-->
                                            <div class="img_container">
                                                <!-- 点击×号，隐藏模态框-->
                                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;&times;</span>
                                                <img src="../../static/image/1.jpeg" alt="Avatar" class="avatar img_label_oneline">
                                                <label id="user_info" class="img_label_oneline"></label>
                                            </div>
                                            <div class="img_container">
                                                <div>
                                                    <a style="float: left">
                                                        <label>关注</label>
                                                    </a>
                                                    <a>
                                                        <label>动态</label>
                                                    </a>
                                                    <a style="float: right">
                                                        <label>粉丝</label>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <label style="text-align:left "><b>个人中心</b></label>
                                            </div>
                                            <div>
                                                <label style="text-align:left ">您的工作室 </label>
                                            </div>
                                            <div>
                                                <label style="text-align:left; hover:#83fff3" onclick="change_user()">切换账号</label>
                                            </div>
                                            <div>
                                                <label style="text-align:left ">切换语言</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div style="text-align: center">
                                                <!-- 点击cancel按钮，把模态框隐藏-->
                                                <a onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">取消</a>
                                                <a href="#" style="text-decoration: none;">设置</a><a href="#" style="float: right;text-decoration: none; ">夜间模式</a>
                                            </div>
                                            <!--</form>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!----中间内容部分-->
                {% block jumbotron %}{% end %}
                <main class="row clearfix">
                    {% block content %}{% end %}
                </main>

                <!-----脚注，下面-->
                <div class="row clearfix">
                    <div class="col-md-12 column nerous">
                        <address> <strong>上海戴牧塔智能科技有限公司, Inc.</strong> 上海市浦东新区南汇新城镇海洋一路, CA 94107<br /> <abbr
                                title="phone">P:</abbr> 17705419425</address>
                    </div>
                </div>
                </main>

                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>
    </div>
    <script>
        $(document).ready(function() {
            console.log("进入reques");
            $('#img_login').click(function() {
                $("#id01").css("display", "block");
                //  $('#img_login').css("display","none");
            });
            login(
                '/user/login/', ['mail', 'password'],
                '/');
            $(".modal-body label").click(
                function() {
                    if ($(this).hasClass('focus')) {
                        return true;
                    } else {
                        $('.modal-body label').removeClass('focus');
                        $(this).addClass('focus');
                    }
                }
            )

        });
        // function getCookie(name) {
        //     var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        //     return r ? r[1] : undefined;
        // }
        // function set_xsrf(data){
        //     var secure_key = getCookie("__xsrf") || "";
        //     if (isNotEmpty(secure_key)) {
        //         data["__xsrf"] = secure_key;
        //     }
        //     return data;
        // }
        function getCookie(name) {
            var cook = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return cook ? cook[1] : undefined
        }
        var _xsrf = getCookie("_xsrf");
        alert(_xsrf);

        function change_user() {
            var secure_key = getCookie("_xsrf");
            alert(secure_key);
            $.ajax({
                type: "get", //请求方式
                url: '/', //请求的接口地址
                // data: data,
                // dataType: "json",
                // headers: {"X-XSRFToken": getCookie("_xsrf")},
                success: function(res) {
                    $("#no_login").css("display", "block");
                    $('#img_login').css("display", "none");
                    $("#id01").css("display", "none");
                    alert("返回首页");
                },
            });
            // $("#id01").css("display", "none");
            // $("#")
            // $("#no_login").css("display", "block");

        }
    </script>
</body>

</html>