<!DOCTYPE html>
<html>
<head>
<title>dmomb注册页面</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="{{  static_url('web/userinfo/login_002/css/style.css')}}" rel="stylesheet" type="text/css" media="all">
<link href="{{  static_url('web/userinfo/login_002/css/font-awesome.min.css')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<!-- //css files -->
</head>
<body>
<!--header-->
	<div class="header-w3l">
		<h1>dmomb注册界面</h1>
	</div>
<!--//header-->
<!--main-->
<div class="main-agileits">
	<h2 class="sub-head">Sign Up</h2>
		<div class="sub-main">	
			<form action="#" method="post">
				<input placeholder="First Name" name="Name" class="name" type="text" required>
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br>
	 
				<input placeholder="Phone Number" name="Number" class="number" type="text" required>
					<span class="icon3"><i class="fa fa-phone" aria-hidden="true"></i></span><br>
				<input placeholder="Email" name="mail" class="mail" type="text" required>
					<span class="icon4"><i class="fa fa-envelope" aria-hidden="true"></i></span><br>
				<input  placeholder="Password" name="Password" class="pass" type="password" required>
					<span class="icon5"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
				<input  placeholder="Confirm Password" name="Password" class="pass" type="password" required>
					<span class="icon6"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
				
				<input type="submit" value="sign up">
			</form>
		</div>
		<div class="clear"></div>
</div>
<!--//main-->

<!--footer-->
<div class="footer-w3" style="display:none">
	<p>&copy; 2016 Flat Sign Up Form . All rights reserved | Design by <a href="http://www.bootstrapmb.com/" title="bootstrapmb">bootstrapMB</a></p>
</div>
<!--//footer-->

</body>
</html>
