        .img_button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
                      input[type=text], input[type=password] {
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: inline-block;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                    }

    /* Set a style for all buttons */
    /* button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    } */

    .modal-body > b:hover{
    color:#31708f !important;
    }
    .modal-body > b:visited{
    color: #8f536c !important;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        /*width: auto;*/
       text-decoration: none;
        border: none;
        float:left;
        background-color: rgba(0,0,0,.0001);
    }

    /* Center the image and position the close button */
    .img_container {
        text-align: center;
        margin: 3px 0 3px 0;
        position: relative;
    }

    img.avatar {
        width: 45%;
        border-radius: 100%;
        margin:5px;
    }
    .img_label_oneline{
        vertical-align:middle
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .img_modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        top: 50px;
        width: 20%; /* Full width */
         /* Full height */
        /* overflow: auto; Enable scroll if needed */
        background-color: rgb(0,0,0); /*Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    }

   /* Modal Content/Box */
    .img_modal-content {
        background-color: #fefefe;
        margin:4% auto 5%;/*from the top, 15% from the bottom and centered*/
        border: 1px solid #888;
        width: 90%; /* Full width */
        height: 90%;
         /*Could be more or less, depending on screen size */
     }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
        .focus{
            color: #8f536c;
        }